@font-face {
  font-family: 'Beholden-Regular';
  src: url('/fonts/Beholden-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Beholden-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: 'Beholden-Regular', sans-serif;
}

/* Exception for Resume page */
.resume-content {
  font-family: 'Times New Roman', serif !important;
}
